<h2 class="text text-center">Интерполяция</h2>

<h4 class="text text-center">Определение интерполяции</h4>
<p style="text-indent: 25px;">Интерполяция в простейшем классическом смысле – это конструктивное восстановление (чаще всего приближенное) функции определенного класса по известным ее значениям или значениям ее производных в данных точках. Если функция задана в определенных (дискретных) точках на конечном интервале, то сущность интерполяции стоит в отыскании значений функции в промежуточных точках.</p>
<p style="text-indent: 25px;">
Самым распространенным применением интерполяции является получение таблично заданной функции для тех значений ее аргумента, которых в таблице как раз и нет. К интерполяции прибегают не только в случае таблично заданных функций, но и когда функция задана аналитически, но описывающая ее формула громоздка и требует для своего применения трудоемких вычислений.</p>
<p style="text-indent: 25px;">
Термин интерполирование (интерполяция) был впервые употреблён в 1656 году Дж. Валлисом при составлении астрономических и математических таблиц. Он происходит от латинского слова interpolo, означающего переделывать, подновлять, ремонтировать.</p>


<h4 class="text text-center">Постановка задачи интерполирования</h4>
<p style="text-indent: 25px;">Пусть в точках <img src="../../assets/math/1.png"> таких, что <img src="../../assets/math/2.png"> , известны значения функции<img src="../../assets/math/3.png">, то есть на отрезке <img src="../../assets/math/4.png"> задана табличная функция (таблица 1.1).</p>
<img src="../../assets/math/0.PNG" style="width:500px"><br><br>
<p style="text-indent: 25px;">Функция <img src="../../assets/math/5.png"> называется интерполирующей или интерполяционной для <img src="../../assets/math/6.png"> на <img src="../../assets/math/4.png">, если ее значения <img src="../../assets/math/7.png"> в заданных точках ,<img src="../../assets/math/1.png"> называемых узлами интерполяции, совпадают с заданными значениями функции <img src="../../assets/math/6.png">, то есть с <img src="../../assets/math/8.png"> соответственно.</p>

<p>
Процесс вычисления значений функции <img src="../../assets/math/5.png"> в точках отличных от узлов интерполирования называется интерполированием функции <img src="../../assets/math/6.png">. Если <img src="../../assets/math/9.png">, то задача вычисления приближенного значения функции в точке называется интерполированием.</p>

<p>
Геометрически задача интерполирования функции одной переменной означает построение кривой, проходящей через заданные точки <img src="../../assets/math/10.png"> (рисунок 1.2).<br>
<img src="../../assets/math/11.PNG"><br><br>
Задача становится однозначной, если в качестве <img src="../../assets/math/5.png"> выбрать многочлен степени выше n, такой что:<img src="../../assets/math/21.png"><br>

Многочлен <img src="../../assets/math/12.png">, отвечающий вышеуказанным условиям, называется интерполяционным многочленом.</p>
<!-- <img src="../../assets/math/1.png"> -->

<p>
        Знание свойств функции <img src="../../assets/math/6.png"> позволяет осознанно выбирать класс G аппроксимирующих функций. Широко используется класс функций вида (1.2), являющихся линейными комбинациями некоторых базисных функций <img src="../../assets/math/13.png">.
        <br><br>
        <img src="../../assets/math/14.png">(1.2)
        <br><br></p>
<p>
        Приближенную функцию нужно искать в виде многочлена степени m, с коэффициентами <img src="../../assets/math/15.png">, которые находятся зависимости от вида приближения. Функцию <img src="../../assets/math/16.png"> называют обобщенным многочленом по системе функций <img src="../../assets/math/13.png">, а число m ― его степенью. Многочлен называется интерполяционным, если он удовлетворяет условию<br><br>
        
        <img src="../../assets/math/17.png">(1.3)
        <br><br>
        
        Условие (1.3) позволяет найти приближающую функцию единственным образом<br><br>
        
        <img src="../../assets/math/18.PNG">
        (1.4)
        <br><br>
        </p>

<p>        Система (1.4) есть система линейных алгебраических                     уравнений относительно коэффициентов <img                src="../../assets/math/15.png">.</p>
<p>
        Эта система n линейных уравнений имеет единственное решение, если выполняется условие m=n и определитель квадратной матрицы P <br>
        <img src="../../assets/math/19.PNG">
</p>

<p>
        Система функций <img src="../../assets/math/13.png"> называется Чебышевской системой функции на <img src="../../assets/math/4.png">, если определитель матрицы отличен от нуля при любом расположении узлов <img src="../../assets/math/19_2.png">, когда среди этих узлов нет совпадающих.
    </p>
<p>        Если имеется такая система функций, то можно утверждать, что существует единственный для данной системы функций интерполяционный многочлен <img src="../../assets/math/16.png">, коэффициенты которого определяются единственным образов из системы (1.4).<br>
        
        На практике чаще всего используются следующие системы:
        <br>
        <img src="../../assets/math/20.PNG">
        </p>
<p>В первом случае интерполирование называется алгебраическим, во втором – тригонометрическим, а в третьем – экспоненциальным.
</p>