
<ul class="list-group">
    <li class="list-group-item"><a routerLink="/about">Об интерполяции</a></li>
    <li class="list-group-item"><a routerLink="/lagrang">Лагранжа</a></li>
    <li class="list-group-item"><a routerLink="/lagrang">Ньютона</a></li>
    <li class="list-group-item"><a routerLink="/lagrang">Кубических сплайнов</a></li>
    <li class="list-group-item"><a routerLink="/lagrang">Рационализации</a></li>
    <hr>
    <hr>
    <li class="list-group-item"><a routerLink="/practic">Практика</a></li>
  </ul>